<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.memberMapper">
	<select id="findAll" resultType="com.example.demo.model.Member">
       select * from TB_PRODUCT;
    </select>
 
    <select id="findById" resultType="com.example.demo.model.Member">
        select * from TB_PRODUCT where id = #{id};
    </select>
 
 <insert id="save">
<!--<insert id="save" parameterType="com.example.denmo.model.Member">-->
	 
        INSERT INTO TB_PRODUCT (
            memberId,
            name,
            email,
            age,
        )
        VALUES (
            #{memberId},
            #{name},
            #{email},
            #{age},
        )
    </insert>
 
 
    <delete id="deleteById">
       delete from TB_PRODUCT where id = #{id};
    </delete>

</mapper>